body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,textarea,p,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}img{border:0}em,strong,th,b,i{font-style:normal;font-weight:400}ol,ul,dl{list-style:none}th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}input,textarea,select,button{font-family:inherit;font-size:inherit;font-weight:400}img,input,label,button{vertical-align:middle}input:focus,button:focus,select:focus,textarea:focus{outline:0}a::-moz-focus-inner,input::-moz-focus-inner,button::-moz-focus-inner{border:0}button::-moz-focus-inner,input::-moz-focus-inner{padding:0}ins,s,u,del{text-decoration:none}

body{
  background: #eee!important;
}

#pageHeader{
  background: #222;
  color: #fff;
  height: 70px;
}

.headTitle{
  float: left;
  height: 30px;
  margin-top: 20px;
  margin-left: 30px;
  font-size: 28px;
  color: #dadada;
  line-height: 30px;
}

.userLogin{
  float: right;
  margin-top: 30px;
  margin-right: 50px;
}

.userLogin a{
  font-size: 14px;
  line-height: 20px;
  color:#dadada;
  text-decoration: underline;
}

.userLogin a:link{
  color:#dadada;
  text-decoration: underline;
}

.userLogin a:visited{
  color:#dadada;
  text-decoration: underline;
}

.userLogin a:hover{
  color:#fafafa;
  text-decoration: underline;
}

#registryContent{
  width: 600px;
  height: 450px;
  margin: 70px auto;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px #ccc;
}

.registryHeadLabel{
	font-size: 20px;
	font-weight: bold;
	padding-top: 20px;
	text-align: center;
}

.registryForm{
  width: 400px;
  margin-left: 100px;
  padding-top: 40px;
  padding-left: 50px;
}

.registryLabel{
  width: 70px;
  float: left;
  display: inline-block;
  line-height: 30px;
  text-align: left;
  margin-right: 10px;
}

.registryLabel span{
  color:#ff0000;
}

#inputUserId{
  width: 200px;
  margin-bottom: 25px;
}

#inputUsername{
  width: 200px;
  margin-bottom: 25px;
}

#inputPhone{
  width: 200px;
  margin-bottom: 25px;
}

#inputUserEmail{
  width: 200px;
  margin-bottom: 25px;
}

#inputPassword{
  width: 200px;
  margin-bottom: 30px;
}

#registrySubmit{
  width: 100px;
  float: left;
}

#returnBtn{
  width: 100px;
  float: left;
  margin-left: 80px;
}