<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hitwh.cdms.dao.TeacherInfoDao">
  <!--设置domain类和数据库中表的字段一一对应，注意数据库字段和domain类中的字段名称不致，此处一定要！-->
  <resultMap id="BaseResultMap" type="edu.hitwh.cdms.model.TeacherInfo">
    <id column="teacher_id" property="teacherId" jdbcType="CHAR" />
    <result column="teacher_name" property="teacherName" jdbcType="CHAR" />
    <result column="teacher_email" property="teacherEmail" jdbcType="CHAR" />
    <result column="teacher_phone" property="teacherPhone" jdbcType="CHAR" />
    <result column="teacher_picture" property="teacherPicture" jdbcType="CHAR" />
    <result column="pwd_code" property="pwdCode" jdbcType="CHAR" />
  </resultMap>
  <!-- 查询单条记录 -->
  <select id="selectTeacherById" parameterType="String" resultMap="BaseResultMap">
    SELECT * FROM cdms_teacher_info WHERE teacher_id = #{teacherId}
  </select>
</mapper>